###############################################################################
## Bazel Configuration Flags
##
## `.bazelrc` is a Bazel configuration file.
## https://bazel.build/docs/best-practices#bazelrc-file
###############################################################################

# Enable Bzlmod for every Bazel command
common --enable_bzlmod

build --@rules_rust//rust/toolchain/channel=nightly
test --@rules_rust//rust/toolchain/channel=nightly

# build --platforms=@rules_rust//rust/platform:wasm32

###############################################################################
## Custom user flags
##
## This should always be the last thing in the `.bazelrc` file to ensure
## consistent behavior when setting flags in that file as `.bazelrc` files are
## evaluated top to bottom.
###############################################################################

try-import %workspace%/user.bazelrc