@import url('https://fonts.googleapis.com/css?family=Overpass%20Mono:700|Overpass%20Mono:400');

html {
    --mdc-theme-primary: #18453B;
    --mdc-theme-primary-light: #6f8883;
    --mdc-theme-secondary: #ffffff;
    --mdc-theme-surface: #e3e3e3;
    --mdc-theme-backgroud: #1d1d1d;
    --mdc-theme-on-primary: #ffffff;
    --mdc-typography-button-font-size: 15px;
    --mdc-typography-font-family: Helvetica Light;
    --mdc-tab-color-default: var(--mdc-theme-on-primary);
    --mdc-tab-text-label-color-default: var(--mdc-theme-on-primary);
}

body {
  font-family: 'Overpass Mono';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Overpass Mono';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 3.366rem; /* 53.92px */}

h2 {font-size: 2.525rem; /* 40.32px */}

h3 {font-size: 1.894rem; /* 30.24px */}

h4 {font-size: 1.421rem; /* 22.72px */}

h5 {font-size: 1.066rem; /* 17.12px */}

small {font-size: 0.600rem; /* 9.6px */}
body {
    color: #e3e3e3;
    background-color: #1d1d1d;
    margin: 0px;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

.scroll-container {
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    text-align: center;
}

hr.dashed {
  border-top: 3px dashed #bbb;
}

hr.solid {
  border-top: 3px solid #bbb;
}