@import url('https://fonts.googleapis.com/css?family=Overpass%20Mono:700|Overpass%20Mono:400');

body {
  font-family: 'Overpass Mono';
  font-weight: 400;
  width: 100%;
  max-width: 100%;
  min-width: 100% !important;
}

h1, h2, h3, h4, h5 {
  font-family: 'Overpass Mono';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {
  font-size: 3.366rem; /* 53.92px */
  display: block;
  width: 100%;
  max-width: 100%;
}

h2 {
  font-size: 2.525rem; /* 40.32px */
  display: block;
  width: 100%;
  max-width: 100%;
}

h3 {
  font-size: 1.894rem; /* 30.24px */
  display: block;
  width: 100%;
  max-width: 100%;
}

h4 {
  font-size: 1.421rem; /* 22.72px */
  display: block;
  width: 100%;
  max-width: 100%;
}

h5 {
  font-size: 1.066rem; /* 17.12px */
  display: block;
  width: 100%;
  max-width: 100%;
}

small {
  font-size: 0.600rem; /* 9.6px */
  display: block;
  width: 100%;
  max-width: 100%;
}

a {display: block; width: 100%; max-width: 100%; }

table {
  border-collapse: collapse;
}

th,td {
  padding: 3px;
  width: fit-content;
  text-wrap: nowrap;
}



thead, .boxscoreHeader
{
  width: fit-content;
  text-align: center;
  text-wrap: nowrap;
}

td {
  text-align: right;
  text-wrap: nowrap;
  width: fit-content;
  min-width: fit-content;
}

body {
    color: #e3e3e3;
    background-color: #1d1d1d;
    margin: 0px;
    width: 100%;
    min-width: 500px;
}

.link {
  background: none;
  border: none;
  color: inherit;
  text-decoration: none;
  max-width: 100%;
  width: 100%;
}

.dropdown > .link:focus,
.link:hover {
  color: #777;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    padding: 5px;
}

.card.page {
  min-width: 350px;
  max-width: 100%;
}

.card-page-title {
  margin: 0;
}

.card-page-description {
  margin: 2px;
}

.gamecard {
  background-color: #232222;
  position: relative;
  float: left;
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 5px;
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
  text-align: center;
  line-height: 5px;
  max-width: 85%;
  min-width: 450px;
}

.scoreboard {
  width: 100%;
  position: relative;
}

.scoreboard-games {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.scoreboard-sport-name {
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: right;
  background-color: #777;
  margin: 0;
  padding-right: 5px;
  width: fit-content;
}

@media only screen and (max-width: 500px) {
  .gamecard {
    min-width: 85%;
  }

  .scoreboard-games {
    flex-direction: column;
    max-width: 100%;
  }
}

@media only screen and (max-width: 940px) {
  .scoreboard-sport-name {
    display: none;
  }
}

.scoreboard-team-container {
  float: left;
  width: 50%;
  padding: 0 0px;
  margin: 0;
  text-wrap: nowrap;
}

.scoreboard-team-score.home {
  font-size: 1.8rem;
  padding-left: 15px;
}

.scoreboard-team-score.away {
  font-size: 1.8rem;
  padding-right: 15px;
  margin-right: 15px;
}

.scoreboard-team-details h5 {
  margin-bottom: 0px;
}

.scoreboard-team-container h4 {
  margin-bottom: 5px;
}

.scoreboard-team-detail p {
  font-size: 0.8rem;
  width: inherit;
}

.scoreboard-gameclock {
  font-size: 0.85rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  max-width: 100%;
}

.scoreboard-team-name {
  padding: 2px;
}

.scoreboard-team-rank {
  font-size: 0.7rem;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.scoreboard-team-rank.home {
  padding-right: 5px;
  padding-left: 5px;
}

.scoreboard-team-rank.away {
  padding-left: 5px;
  padding-right: 5px;
}

.scoreboard-team-record.home {
  font-size: 0.8rem;
  padding-left: 10px;
}

.scoreboard-team-record.away {
  font-size: 0.8rem;
  padding-right: 10px;
}

.gamecard:hover,
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    color: #777;
}

.container {
    padding: 0px 0px;
}

.scroll-container {
    padding: 0px;
    text-align: center;
}

.page-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

hr.dashed {
  border-top: 3px dashed #bbb;
}

hr.solid {
  border-top: 3px solid #bbb;
}

.home {
  text-align: left;
}

.away {
  text-align: right;
}

.football-table {
  width: fit-content;
}

.football-table-div {
  display: flex;
  width: fit-content;
  margin: 15px;
  padding: 5px;
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
  align-items: center;
}

.football-game-page {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  float: left;
  align-items: center;
  position: relative;
}

.table-row-data-total {
  background-color:#313131;
}

.football-game-home-tables {
  display: flex;
  width: 50%;
  position: relative;
  flex-wrap: wrap;
  float: left;
  margin: 15px;
  padding: 5px;
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
  align-items: center;
  min-width: fit-content;
}

.football-game-away-tables {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  float: left;
  margin: 15px;
  padding: 0px;
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
  align-items: center;
  min-width: fit-content;
  max-width: 50%;
}